[submodule "risklike/flgl"]
	path = risklike/flgl
	url = https://github.com/collebrusco/flgl
[submodule "risklike/ecs"]
	path = risklike/ecs
	url = https://github.com/collebrusco/entity-mini
[submodule "risklike/sw"]
	path = risklike/sw
	url = https://github.com/collebrusco/stopwatch
